.testimonials
  background: repeating-linear-gradient(135deg, rgba($brand--primary, 0.1), rgba($brand--primary, 0.1) 10px, rgba($brand--accent, 0.1) 10px, rgba($brand--accent, 0.1) 20px)
  padding: 48px 0
  text-align: center

  +sm
    padding: 72px 0


  +md
    padding: 96px 0


  +lg
    padding: 112px 0


  +xl
    padding: 144px 0


  &__card
    max-width: 512px
    margin: 0 auto
    text-align: center

    &__quotation-mark
      color: darken($brand--primary, 15%)
      font-size: 40px
      margin: 0

      +md
        font-size: 56px

    &__quote-block
      margin: 8px 0 24px

    &__quote-text
      font-size: 20px
      font-style: italic
      font-weight: 300
      letter-spacing: 0.03em
      line-height: 1.4

      +md
        font-size: 24px
        line-height: 1.5


      & span
        font-style: normal

    &__reviewer-image
      border-radius: 50%
      display: inline-block
      vertical-align: middle
      width: 48px

    &__reviewer-details
      display: inline-block
      margin-top: 8px
      text-align: center
      vertical-align: middle

      +sm
        margin-left: 16px
        margin-top: 0
        text-align: left

    &__reviewer-name, &__reviewer-title
      margin: 8px 0

    &__reviewer-name
      font-weight: 600
