.checkout-order
  +md
    width: 55%


  &__form
    +xl
      margin: 72px auto
      width: 80%

  &__form-title
    margin: 0
    text-align: center
    text-transform: uppercase

  &__field-set
    border: none
    padding: 32px 0

    &:disabled
      cursor: not-allowed

      & label, input, #stripe__input
        cursor: not-allowed

    & input:not([type="radio"])
      box-sizing: border-box
      border: 1px solid rgba(#2b2b2b, 0.16)
      display: block
      font-family: "Montserrat", sans-serif
      font-weight: 300
      margin-bottom: 24px
      padding: 12px 16px
      transition: all 0.2s ease-in-out
      width: 100%

      &:active, &:focus
        border: 1px solid rgba($brand--primary, 0.8)
        outline: 0
        transition: all 0.5s ease-in-out

      &::placeholder
        color: lighten(#2b2b2b, 60%)
        font-size: 14px
        font-weight: 300

  &__order-type
    align-items: center
    display: flex

    &__row
      align-items: center
      display: flex
      font-weight: 300
      margin-right: 16px
      padding: 16px 0

      & input[type="radio"]
        margin-right: 8px

  &__pickup-datetime
    color: $brand--primary
    font-size: 14px
    font-weight: 300

  &__pickup-disclaimer
    font-size: 12px
    font-weight: 300

  &__payment-form-group
    +md
      display: grid
      grid-gap: 8px
      grid-template-columns: 1fr 1fr

  &__payment-form-group-inline
    display: grid
    grid-gap: 8px
    grid-template-columns: 4fr 3fr

  &__form-submit
    background-color: $brand--primary
    border: 0
    border-radius: 4px
    color: #fff
    display: block
    font-family: "Montserrat", sans-serif
    height: 48px
    line-height: 48px
    margin: 24px auto
    min-width: 176px
    transition: all 0.1s linear

    &:active, &:focus, &:hover
      outline: 0

    &:hover
      background-color: darken($brand--primary, 5%)
      cursor: pointer

    &:active
      background-color: darken($brand--primary, 15%)
