.hero
  align-items: center
  color: #fff
  display: flex
  justify-content: center
  height: 400px
  position: relative
  width: 100%
  z-index: 1

  +md
    height: 600px


  +lg
    height: 800px


  &__background-container, &__background-overlay
    height: 100%
    left: 0
    overflow: hidden
    position: absolute
    top: 0
    width: 100%

  &__background-overlay
    background-color: rgba(#000, 0.3)
    z-index: 1

  &__background-video, &__background-image
    min-height: 100%
    min-width: 100%

  &__background-image
    display: block
    height: 100%
    object-fit: cover
    width: 100%

    +lg
      display: none

  &__background-video
    display: none

    +lg
      display: block

  &__content-wrapper
    align-items: center
    box-sizing: border-box
    display: flex
    flex-direction: column
    height: 100%
    justify-content: space-evenly
    padding: 16px
    text-transform: uppercase
    width: 100%
    z-index: 2

  &__title
    border-bottom: 1px solid rgba(#fff, 0.2)
    font-size: 36px
    font-weight: 600
    margin-bottom: 16px
    margin-top: 0
    padding: 16px 0
    text-align: center
    z-index: 2

    +sm
      font-size: 48px
      padding: 16px


    +md
      font-size: 64px
      margin-bottom: 28px
      padding: 32px 0


    +lg
      border-bottom: 2px solid rgba(#fff, 0.2)
      font-size: 80px


    +xl
      font-size: 96px
      margin-bottom: 32px
      padding: 32px 16px


    & span
      text-shadow: 2px 2px 1px rgba(#fff, 0.6)

    & span:nth-child(1)
      color: $brand--primary

    & span:nth-child(2)
      color: $brand--accent

    & span:nth-child(3)
      color: coral

  &__subtitle
    font-size: 14px
    font-weight: 300
    letter-spacing: 0.2em
    line-height: 1.5
    margin-top: 0
    text-align: center
    z-index: 2

    +md
      font-size: 20px


    +lg
      font-size: 24px

  &__scroll-down-container
    animation: breathe 1.6s ease-in-out infinite normal
    z-index: 2

  &__scroll-down
    color: #ffffff
    cursor: pointer
    font-size: 36px
    transition: all 0.1s ease

    +md
      font-size: 48px


    &:active, &:focus
      outline: 0

+keyframes(breathe)
  0%
    transform: translateY(0)

  50%
    transform: translateY(8px)

  100%
    transform: translateY(0)
