.contact-form
  color: #fff
  margin-bottom: 40px

  +lg
    margin-bottom: 0
    width: 45%


  &__container
    margin: 0 auto
    max-width: 456px
    text-align: center

  &__title, &__copy
    font-weight: 300

  &__title
    font-size: 32px
    font-weight: 300
    margin: 0

    +sm
      font-size: 40px


    +md
      font-size: 48px


    +lg
      font-size: 56px

  &__copy
    line-height: 1.5
    margin: 16px 0

    +sm
      margin: 24px

  &__wrapper
    & fieldset
      border: none
      padding: 0

  &__form-group
    font-size: 16px
    margin-bottom: 16px
    text-align: left
    width: 100%

    & label, input, textarea
      border: none
      box-sizing: border-box
      display: block
      font-weight: 300
      outline: 0
      width: 100%

    & label
      margin-bottom: 4px

    & input, textarea
      padding: 8px 12px

  &__message-characters-remaining
    font-weight: 300
    margin-top: 4px
    text-align: right

  &__submit
    background-color: darken($brand--primary, 10%)
    border: none
    box-shadow: 1px 4px 8px rgba(#000, 0.2)
    color: #fff
    display: block
    font-weight: 300
    letter-spacing: 0.06em
    outline: 0
    padding: 12px 0
    transition: all 0.3s ease-in-out
    width: 100%
