.signup
  &__form
    margin: 72px auto
    max-width: 328px

  &__form-title
    margin: 0 0 40px
    text-align: center
    text-transform: uppercase

  &__forgot-password, &__return-to-store
    font-weight: 300
    margin: 0 0 24px
    text-align: center

  & input
    box-sizing: border-box
    border: 1px solid rgba(#2b2b2b, 0.16)
    display: block
    font-family: "Montserrat", sans-serif
    font-weight: 300
    margin-bottom: 24px
    padding: 12px 16px
    transition: all 0.2s ease-in-out
    width: 100%

    &:active, &:focus
      border: 1px solid rgba($brand--primary, 0.8)
      outline: 0
      transition: all 0.5s ease-in-out

    &::placeholder
      color: lighten(#2b2b2b, 60%)
      font-weight: 300

  &__form-submit
    background-color: $brand--primary
    border: 0
    border-radius: 4px
    color: #fff
    display: block
    font-family: "Montserrat", sans-serif
    height: 48px
    line-height: 48px
    margin: 0 auto 24px
    min-width: 176px
    transition: all 0.1s linear

    &:active, &:focus, &:hover
      outline: 0

    &:hover
      background-color: darken($brand--primary, 5%)
      cursor: pointer

    &:active
      background-color: darken($brand--primary, 15%)
