.category-list
  &__header
    align-items: center
    display: flex
    flex-direction: column
    justify-content: flex-start
    margin-bottom: 40px

    +md
      align-items: center
      flex-direction: row
      justify-content: space-between

  &__title
    font-size: 24px
    font-weight: 600
    margin-bottom: 12px
    margin-top: 0
    text-transform: uppercase

    +md
      font-size: 28px
      margin-bottom: 0


    +lg
      font-size: 32px
