.checkout-cart
  background-color: rgba(#2b2b2b, 0.08)
  margin-bottom: 24px

  +md
    margin-bottom: 0
    width: 35%


  &__cart-content
    +xl
      margin: 72px auto
      width: 80%

  &__title
    margin: 0
    text-align: center
    text-transform: uppercase

  &__items-wrapper
    font-weight: 400
    padding: 24px 0

    +md
      padding: 48px 0
      text-align: right

  &__headers
    text-align: right

  &__items
    border-collapse: collapse
    list-style: none
    padding-left: 0
    table-layout: fixed
    width: 100%

  &__item
    &__info
      & td
        padding-bottom: 20px

  &__quantity
    border: 0
    font-weight: 300
    margin-left: 2px
    outline: 0
    padding: 6px
    text-align: center
    width: 50%

    &:read-only
      background: transparent

  &__edit-quantity, &__update-quantity, &__delete-item
    cursor: pointer
    font-size: 16px

  &__row-subtotal
    font-weight: 300

  &__edit-quantity
    color: $brand--primary

  &__delete-item
    color: #c40000

  &__subtotal, &__shipping, &__tax
    & td
      font-weight: 300
      padding: 4px 0

  &__subtotal
    border-top: 1px solid #ddd

    & td
      padding-top: 16px

  &__total
    & td
      padding-top: 16px

  &__no-items
    font-weight: 300
