.burger-menu
  &__heading, &__nav-item
    border: 0
    font-weight: 300
    outline: 0

  &__heading
    font-weight: 300
    margin: 24px 0
    text-align: right

  &__auth-status
    font-weight: 400

  &__signout
    background: transparent
    border: transparent
    cursor: pointer
    font-family: "Montserrat", sans-serif
    font-weight: 300

  &__heading-copy
    font-size: 16px
    font-weight: 300

  &__auth-action
    color: lighten($brand--primary, 12%)
    transition: all 0.2s ease

  &__nav-title
    font-weight: 400
    margin-top: 0
    text-transform: uppercase

  &__nav-items
    border-bottom: 1px solid #fff
    border-top: 1px solid #fff
    padding: 24px 0

  &__nav-item-row
    padding: 8px 0

  &__nav-item
    color: #fff
    transition: all 0.2s ease

  &__cart-content
    padding: 24px 0

  &__cart-title
    font-weight: 400
    margin-top: 0
    text-transform: uppercase

  &__cart-items
    border-collapse: collapse
    width: 100%

    & td
      font-weight: 300
      padding: 8px 0

  &__cart-product-items
    & td.burger-menu__cart-row-quantity
      padding: 8px

    &::after
      content: ""
      display: block
      height: 16px

  &__cart-subtotal-calculations
    border-bottom: 1px solid #fff
    border-top: 1px solid #fff
    width: 100%

    &::before
      content: ""
      display: block
      height: 16px

    &::after
      content: ""
      display: block
      height: 16px

  &__cart-total-row
    &::before
      content: ""
      display: block
      height: 16px

    & td
      font-weight: 400

  &__proceed-to-checkout
    font-size: 16px
    font-weight: 300
    margin: 16px 0
    text-align: right

/* Position and sizing of burger button
.bm-burger-button
  height: 16px
  position: absolute
  right: 16px
  top: 22px
  width: 20px

  +md
    height: 20px
    right: 64px
    top: 38px
    width: 25px

/* Color/shape of burger icon bars
.bm-burger-bars
  background: #2b2b2b

/* Position and sizing of clickable cross button
.bm-cross-button
  height: 24px
  width: 24px

/* Color/shape of close button cross
.bm-cross
  background: #fff

.bm-menu-wrap
  position: fixed
  right: 0
  top: 0

/* General sidebar styles
.bm-menu
  background: #292029
  font-size: 1.15em
  padding: 2.5em 1.5em 0

/* Wrapper for item list
.bm-item-list
  box-sizing: border-box
  color: #fff
  padding: 0.8em

/* Individual item
.bm-item
  display: inline-block

/* Styling of overlay
.bm-overlay
  background: rgba(0, 0, 0, 0.3)
  left: 0
  top: 0
