.footer
  align-items: center
  background-color: $background--eerie-black
  color: rgba(#fff, 0.9)
  display: flex
  font-size: 14px
  font-weight: 300
  line-height: 2
  min-height: 144px
  justify-content: center
  text-align: center
