@import burger-menu

.navbar
  align-items: center
  background-color: #fff
  box-shadow: 2px 2px 4px rgba(#000, 0.1)
  display: flex
  height: 60px
  justify-content: space-between
  padding: 0 16px

  +md
    height: 96px
    padding: 0 64px


  &__logo
    align-items: center
    display: flex
    margin: 0
    text-decoration: none

  &__logo-icon
    height: 32px
    width: 32px

    +md
      height: 48px
      width: 48px

  &__logo-text
    display: inline-block
    font-size: 24px
    letter-spacing: 0.1em
    margin-left: 8px

    +md
      font-size: 44px
      font-weight: 600
      margin-left: 12px


    & > span
      border-left: 2px solid rgba(0, 0, 0, 0.3)
      margin-left: 8px
      padding-left: 8px
      color: $brand--accent
      font-size: 16px
      font-weight: 400
      letter-spacing: 0.2em
      text-transform: uppercase

      +md
        padding-left: 12px
        color: $brand--accent
        font-size: 32px

  &__nav-items
    align-items: center
    display: flex
    list-style: none

  &__nav-item
    margin: 0 4px
    transition: all 0.3s linear

    &__cart-count, &__cart-icon
      vertical-align: middle

    &__cart-count
      font-size: 14px
      font-weight: 600
      letter-spacing: 0.1em

    &__cart-icon
      color: lighten($font-color--dark, 20%)
      font-size: 20px

    &__link
      transition: all 0.2s ease-in-out

      &:hover
        color: darken($brand--primary, 10%)

  &__signout
    border: 0
    color: $brand--primary
    cursor: pointer
    font-family: "Montserrat", sans-serif
    padding: 0

    &:active, &:focus, &:hover
      outline: 0
