.not-found
  background: linear-gradient(to bottom, darken($brand--accent, 5%), darken($brand--primary, 20%))
  box-sizing: border-box
  color: #ffffff
  padding: 48px 0
  text-align: center
  width: 100%

  +sm
    padding: 72px 0


  +md
    padding: 96px 0


  +lg
    padding: 112px 0


  +xl
    padding: 144px 0


  &__title
    font-size: 56px
    font-weight: 600
    margin: 0
    text-align: center
    text-transform: uppercase

    +sm
      font-size: 64px

  &__image-wrapper
    margin: 0 auto
    max-width: 528px

  &__image
    display: block
    width: 100%

  &__copy-container
    margin: 0 auto
    max-width: 800px
    text-align: center

  &__copy-heading
    font-size: 24px
    font-weight: 600
    margin: 0 0 32px

    +sm
      font-size: 32px

  &__copy
    font-size: 16px
    font-weight: 300
    line-height: 1.5
    margin: 0

    +sm
      font-size: 20px
