.browse-categories
  padding: 48px 0
  text-align: center

  +sm
    padding: 72px 0


  +md
    padding: 96px 0


  +lg
    padding: 112px 0


  +xl
    padding: 144px 0


  & .category-row
    margin: 40px auto
    max-width: 280px

    +sm
      max-width: none


    &__category-header
      align-items: flex-end
      display: flex
      justify-content: space-between
      margin-bottom: 16px

    &__category-name
      font-size: 18px
      font-weight: 600
      text-transform: uppercase

      +md
        font-size: 20px

    &__view-all
      display: block
      font-size: 14px
      font-weight: 300
      text-align: right

      &--mobile
        align-self: center
        font-size: 20px

    &__product-list
      display: grid
      grid-gap: 24px
      grid-template-rows: repeat(3, 1fr)
      margin-bottom: 16px

      +sm
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: none


      +md
        grid-gap: 16px
        grid-template-columns: repeat(3, 1fr)


      +lg
        grid-template-columns: repeat(4, 1fr)


      +xl
        grid-template-columns: repeat(5, 1fr)

    &__product-card
      border-radius: 4px
      box-shadow: 2px 4px 12px rgba(#2b2b2b, 0.3)
      height: 100%
      min-height: 320px
      overflow: hidden

    &__product-container
      background: linear-gradient(to top right, darken($brand--primary, 8%), darken($brand--accent, 8%))
      color: #fff
      height: 100%
      transition: all 0.2s ease-in-out

      &:hover
        & img
          transform: scale(1.2)

    &__product-image-container
      height: 70%
      max-height: 232px
      overflow: hidden
      position: relative

      &:after
        background-color: rgba(#fff, 0.15)
        content: ""
        height: 100%
        left: 0
        position: absolute
        top: 0
        width: 100%

    &__product-image
      display: block
      height: 100%
      object-fit: cover
      transition: 0.3s all ease-in-out
      width: 100%

    &__product-detail
      box-sizing: border-box
      display: flex
      height: 30%
      flex-direction: column
      justify-content: space-between
      padding: 18px

    &__product-name, &__product-price
      margin: 0

    &__product-name
      font-size: 14px
      text-transform: uppercase

    &__product-price
      font-size: 36px

      & span
        font-size: 80%
        font-weight: 400

      & sup
        font-size: 60%
        font-weight: 400
        margin-left: 1px
        top: -6px
