.product-list
  box-sizing: border-box
  padding: 72px 0
  text-align: center

  +md
    padding: 96px 0


  +lg
    padding: 112px 0


  +xl
    padding: 144px 0


  &__header
    display: flex
    justify-content: space-between
    align-items: flex-start

  &__category-name
    font-size: 24px
    font-weight: 600
    margin-bottom: 40px
    margin-top: 0
    text-transform: uppercase

    +md
      font-size: 28px


    +lg
      font-size: 32px
      margin-bottom: 48px
      text-align: left


    +xl
      margin-bottom: 56px

  &__search-bar
    border: 1px solid rgba(#2b2b2b, 0.2)
    border-radius: 4px
    display: block
    font-family: "Montserrat", sans-serif
    font-weight: 300
    padding: 8px 16px

  &__product-grid
    display: grid
    grid-gap: 32px
    grid-template-columns: repeat(1, 1fr)

    +sm
      grid-template-columns: repeat(2, 1fr)


    +lg
      grid-template-columns: repeat(3, 1fr)


    +xl
      grid-template-columns: repeat(4, 1fr)

  &__product-card
    border-radius: 4px
    box-shadow: 2px 4px 12px rgba(#2b2b2b, 0.3)
    height: 100%
    min-height: 300px
    overflow: hidden
    text-align: center

  &__product-container
    background: linear-gradient(to top right, darken($brand--primary, 8%), darken($brand--accent, 8%))
    color: #fff
    height: 100%
    transition: all 0.2s ease-in-out

    &:hover
      & img
        transform: scale(1.2)

  &__product-image-container
    height: 70%
    overflow: hidden
    position: relative

    &:after
      background-color: rgba(#fff, 0.15)
      content: ""
      height: 100%
      left: 0
      position: absolute
      top: 0
      width: 100%

  &__product-image
    display: block
    height: 100%
    object-fit: cover
    transition: 0.3s all ease-in-out
    width: 100%

  &__product-detail
    border-top: 2px solid $brand--primary
    box-sizing: border-box
    display: flex
    height: 30%
    flex-direction: column
    justify-content: space-between
    padding: 16px

  &__product-name, &__product-price
    margin: 0

  &__product-name
    font-size: 14px
    text-transform: uppercase

  &__product-price
    font-size: 36px

    & span
      font-size: 80%
      font-weight: 400

    & sup
      font-size: 60%
      font-weight: 400
      margin-left: 1px
      top: -6px
