@import ./about/about
@import ./browse-categories/browse-categories
@import ./hero/hero
@import ./testimonials/testimonials

.landing
  overflow-x: hidden
  overflow-y: auto

  &__title
    color: lighten($font-color--dark, 10%)
    font-size: 32px
    font-weight: 600
    margin: 0 0 32px
    text-align: center

    +sm
      font-size: 40px


    +md
      font-size: 48px
      margin: 0 0 60px


    +lg
      font-size: 56px
      margin: 0 0 72px

  &__copy
    color: lighten($font-color--dark, 25%)
    font-size: 16px
    font-weight: 400
    line-height: 1.2
    margin-top: 0
    text-align: center

    +md
      font-size: 20px
      line-height: 1.5
