.about
  padding: 48px 0
  text-align: center

  +sm
    padding: 72px 0


  +md
    padding: 96px 0


  +lg
    padding: 112px 0


  +xl
    padding: 144px 0


  &__copy.landing__copy
    font-weight: 300
    line-height: 2
