.contact-map
  &__map-wrapper
    height: 424px

  &__popup
    margin: 0 auto 20px

    &__copy-container, &__image-container
      display: inline-block
      vertical-align: middle

    &__image-container
      margin-left: 12px

    &__image
      height: 64px
      width: 64px

  &__popup-content
    width: 224px

  & .leaflet-popup-content-wrapper
    opacity: 0.9

    & h2
      margin: 8px 0

    & p
      margin: 4px 0
