.react-autosuggest__container
  display: none
  margin-right: 40px
  position: relative

  +sm
    display: block

  +md
    margin-right: 64px

.react-autosuggest__input
  border: 1px solid rgba(#2b2b2b, 0.2)
  border-radius: 4px
  box-sizing: border-box
  font-family: Montserrat, sans-serif
  font-size: 16px
  font-weight: 300
  padding: 8px 16px
  width: 240px

  +md
    padding: 10px 20px

.react-autosuggest__input--focused
  outline: none

.react-autosuggest__input--open
  border-bottom-left-radius: 0
  border-bottom-right-radius: 0

.react-autosuggest__suggestions-container
  display: none

.react-autosuggest__suggestions-container--open
  background-color: #fff
  border: 1px solid rgba(#2b2b2b, 0.2)
  border-bottom-left-radius: 4px
  border-bottom-right-radius: 4px
  box-sizing: border-box
  display: block
  font-family: Montserrat, sans-serif
  font-size: 16px
  font-weight: 300
  position: absolute
  top: 35px
  width: 240px
  z-index: 2

  +md
    top: 39px

.react-autosuggest__suggestions-list
  list-style-type: none
  margin: 0
  padding: 0

.react-autosuggest__suggestion
  cursor: pointer
  padding: 10px 20px

.react-autosuggest__suggestion--highlighted
  background-color: #ddd

.react-autosuggest__section-container
  border-top: 1px dashed #ccc

.react-autosuggest__section-container--first
  border-top: 0

.react-autosuggest__section-title
  color: #777
  font-size: 12px
  padding: 10px 0 0 10px
