@import ./checkout-cart/checkout-cart
@import ./checkout-order/checkout-order

.checkout
  padding: 24px

  +xl
    padding: 48px 0
    text-align: center


  &__content-container
    +md
      display: flex
      justify-content: space-evenly

.checkout-cart, .checkout-order
  box-sizing: border-box
  margin: 0 auto
  padding: 48px 24px

  +md
    border: 1px solid rgba(#2b2b2b, 0.1)
    box-shadow: 0 2px 8px rgba(#2b2b2b, 0.08)
    display: inline-block
    margin: 0 8px
    padding: 24px
    text-align: left
    vertical-align: top

// STRIPE STYLES
.StripeElement
  background: white
  border: 1px solid rgba(#2b2b2b, 0.16)
  box-sizing: border-box
  display: block
  margin: 10px 0 24px 0
  padding: 12px 16px
  outline: 0
  width: 100%

.StripeElement--focus
  transition: all 150ms ease

.StripeElement#stripe__input
  display: inline-block
  margin: 0 0 20px
