/* NORMALIZE CSS
@import normalize-scss/sass/normalize/import-now

/* UTILITIES
@import ./shared/mixins
@import ./shared/variables

// COMPONENTS
@import ./category/category
@import ./checkout/checkout
@import ./contact/contact
@import ./landing/landing
@import ./product/product
@import ./search-bar/search-bar
@import ./shared/footer
@import ./shared/loader
@import ./shared/navbar
@import ./shared/not-found
@import ./signin/signin
@import ./signup/signup

// APP STYLES
*
  outline: 0

html, body
  background-color: $background--eerie-black
  color: $font-color--dark
  font-family: "Montserrat", sans-serif
  min-height: 100vh
  scroll-behavior: smooth

a, a:active, a:hover, a:visited
  color: $brand--primary
  text-decoration: none

button:disabled
  background-color: #ddd
  color: rgba($font-color--dark, 0.5)
  cursor: not-allowed

  &:active, &:hover, &:focus
    background-color: #ddd
    color: rgba($font-color--dark, 0.5)
    cursor: not-allowed

#root
  background-color: #fff

.content-wrapper
  margin: 0 auto
  max-width: $content-wrapper__max-width

  +sm
    max-width: $content-wrapper__max-width--sm


  +md
    max-width: $content-wrapper__max-width--md


  +lg
    max-width: $content-wrapper__max-width--lg


  +xl
    max-width: $content-wrapper__max-width--xl

// TOASTER STYLES
.toaster
  padding: 40px
