@import ./contact-form/contact-form
@import ./contact-map/contact-map

.contact
  background: linear-gradient(to bottom, darken($brand--primary, 10%), darken($brand--accent, 10%))
  padding: 48px 0

  +sm
    padding: 72px 0


  +md
    padding: 96px 0


  +lg
    padding: 112px 0


  +xl
    padding: 144px 0


  &__content-wrapper
    display: flex
    flex-direction: column
    justify-content: space-evenly

    +lg
      flex-direction: row
      max-width: 1000px

  &__info
    display: flex
    color: #fff
    flex-direction: column
    font-weight: 300
    line-height: 1.35

    +lg
      width: 45%

  &__info-container
    margin: 0 auto
    max-width: 456px
    width: 100%
