.product-detail
  box-sizing: border-box
  padding: 72px 0
  text-align: center

  +md
    padding: 96px 0


  &__title
    border-bottom: 1px solid rgba(#2b2b2b, 0.2)
    font-size: 32px
    margin-bottom: 32px
    margin-top: 0
    padding-bottom: 32px
    text-align: center
    text-transform: uppercase

    +sm
      font-size: 40px

  & .product-detail-carousel, .product-detail-heading, .product-detail-info
    padding: 24px 16px

.product-detail-heading
  border-bottom: 1px solid rgba(#000, 0.2)
  border-top: 1px solid rgba(#000, 0.2)
  padding: 24px 0

  &__title
    align-items: center
    display: flex
    font-size: 16px
    font-weight: 600
    justify-content: space-between
    padding-bottom: 24px

    +sm
      font-size: 20px


    +md
      font-size: 24px

  &__login
    font-weight: 300
    text-align: right

  &__inputs, &__submit
    border: 0
    box-sizing: border-box
    padding: 0

  &__cart-update
    align-items: center
    display: flex
    justify-content: space-between

    & input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button
      -webkit-appearance: none
      margin: 0

    & input[type="number"]
      -moz-appearance: textfield
      margin-bottom: 0

  &__counter-button, &__counter
    font-size: 16px
    padding: 0.3em
    width: 1.6em

  &__counter-button
    background-color: rgba($brand--accent, 0.5)
    border: 0
    border-radius: 2px

  &__counter
    margin: 0 2px
    text-align: center

  &__add-to-cart
    background-color: $brand--primary
    border: 0
    border-radius: 2px
    color: #fff
    cursor: pointer
    font-family: "Montserrat", sans-serif
    font-size: 16px
    outline: 0
    padding: 8px 20px
    transition: all 0.2s ease-in-out

    &:hover
      background-color: darken($brand--primary, 8%)

    &:active
      background-color: darken($brand--primary, 12%)

    & .typcn.typcn-shopping-cart
      color: #fff
      font-size: 16px
      margin-right: 4px

.product-detail-info
  +lg
    border-bottom: 1px solid rgba(#2b2b2b, 0.2)
    display: flex
    justify-content: space-evenly


  &__section
    border-bottom: 1px solid rgba(#2b2b2b, 0.2)
    padding: 16px 0

    +lg
      border-bottom: none
      width: 45%


    &__copy
      font-size: 16px
      font-weight: 300
      line-height: 40px
      padding: 8px 0
      text-align: left
      white-space: pre-wrap

      &--centered
        text-align: center
